<head>
  <link rel="stylesheet" href="../../../Css/Style.css">
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/gOajMyG
  -->
</head>

<body>
  <header>
    <div class="login-btn"><a href="../../../Login.htm" class="redirection">Login</a></div>
    <div class="special-container">
      <img src='https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
      ' alt='main image' class="main-img">
    </div>
  </header>
  <!-- basic navbar -->
  <nav>
    <ul>
      <li><a href="../../../home.htm">Home</a></li>
      <li><a href="../../../About.htm">About us</a></li>
      <li><a href="../../../Catalogue.htm">Catalogue</a></li>
      <li><a href="../../../Agenda.htm">Agenda</a></li>
      <li><a href="../../../Details.htm">My details</a></li>
    </ul>
  </nav>
  <br>
  <!-- end basic navbar-->
  <h2>Books</h2>
  <!--
  <form class="search-form">
<input type="text" class="textbox-form" name="searchbox" value="Search...">
<button type="submit" name="search">Search</button>
</form>
-->
  <div class="short-grid">
    <h3>Fantasy Books</h3>
    <div class="wrapper-grid-catalogue">
      <div class="container">
        <a href="./bookinfo.htm?title=ThroneRose" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

    </div>
  </div>

  <div class="short-grid">
    <h3>Horror Books</h3>
    <div class="wrapper-grid-catalogue">

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

      <div class="container">
        <a href="./bookinfo.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Book 1</h1>
            <p class="description">The Book "Throne and the Rose" a fantasy Book about the struggle of an empire in dire
              need of roses </p>
          </div>
        </a></div>

    </div>
  </div>

</body>