<head>
    <link rel="stylesheet" href="../../../Css/Style.css">  
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/gOajMyG
  -->
  </head>
  
  <div>
    <header>
      <div class="login-btn"><a href="../../../Login.htm" class="redirection">Login</a></div>
    <div class="special-container">
      <img src='https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
      ' alt='main image' class="main-img">
    </div>
  </header>
    <!-- basic navbar -->
  <nav>
    <ul>
      <li><a href="../../../home.htm">Home</a></li>
      <li><a href="../../../About.htm">About us</a></li>
      <li><a href="../../../Catalogue.htm">Catalogue</a></li>
      <li><a href="../../../Agenda.htm">Agenda</a></li>
      <li><a href="../../../Details.htm">My details</a></li>
    </ul>
  </nav>
  <br>
    <!-- end basic navbar-->
  <div class="infobar-grid">
 <div class="left-infobar">
  
    <div class="btn-infoleft">
<a href="books.htm">< Go back</a>
     </div>
     <div>
<img class="img-infobar"  alt="x" src="../../../Img/placeholder_mockupType.png">
     </div>
     <div class="text-infobar">
       <p> Book ISBN: 91234030831</p>
        <p>Book pages: 242</p>
        <p>Book genres:</p>
        <p>[Youth] [Fantasy] [Romance] [Mystery]</p>
        <p>Language: English </p>
        <p>Author: Lizzy Kings </p>
        <p>Publisher: The kings reader</p>
     </div>
 </div> 

 <div class="middle-infobar">

<h3>Throne and the Rose</h3>
<div class="info-description">
    <p>
        The kingdom was in trouble through an invasion of deadly roses the kingdom's roses are turning against them. Then comes Rose thórn an unknown individual that was in the castle she asked for 20.000 roses to help the kingdom against these roses with her power of the natural elements and scissors. Watch what will happen when she isn't taken seriously 
    </p>
</div>
</div>
<div class="footer-infobar">
<div class="btn-infomain">
    <a href="reservation.htm">Reserve</a></div>
 </div>

</div>
  </body>