@page
@model PrivacyModel
@{
    
}
@section title{
    About
}

<div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Workshops</h1>
            <p class="description">See all workshops that are organized</p>
          </div>
        </a></div>
