@page
@model Library.Pages.AgendaModel
@{
   
}

@section title{
    Agenda
}

 <div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Contact</h1>
            <p class="description">Get the contacts from us</p>
          </div>
        </a></div>
  
      <div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Work for us</h1>
            <p class="description">See all positions that are open for volunteer work or employment</p>
          </div>
        </a></div>
  
      <div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Opening hours</h1>
            <p class="description">See the opening hours of the library and the special opening times</p>
          </div>
        </a></div>