@page
@model Library.Pages.AgendaModel
@{
   
}

@section title{
    Agenda
}

 <div class="long-container">
        <a asp-area="" asp-page="/Agenda/Workshop" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Workshops</h1>
            <p class="description">See all workshops that are organized</p>
          </div>
        </a>
        </div>

        <div class="long-container">
        <a asp-area="" asp-page="/Agenda/Event" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Events</h1>
            <p class="description">See all events that are organized</p>
          </div>
        </a>
        </div>

         <div class="long-container">
        <a asp-area="" asp-page="/Agenda/StoryTime" class="redirection">         
         <div class='banner-img'>
            <h1 class="name">Story time</h1>
            <p class="description">Story time is run by volunteers and is hold every saterday and sunday afternoon</p>
          </div>
          </a>
          </div>