@page
@model CatalogueModel
@{
}

@section title{
    Catalogue
}

<div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Books</h1>
            <p class="description">See all books that are in this library</p>
          </div>
        </a></div>
  
      <div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movies</h1>
            <p class="description">See all Movies that are in this library</p>
          </div>
        </a></div>
  
      <div class="long-container">
        <a asp-area="" asp-page="" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Catogy A</h1>
            <p class="description">---</p>
          </div>
        </a></div>