@page
@model Library.Pages.DetailModel
@{
}

@section title{
    My details page
}

@if (User.IsInRole("Management") || User.IsInRole("Employee"))
{
    <div class="container">
        <a asp-area="" asp-page="/Detail/Management/Management" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Management</h1>
            <p class="description">Only Management </p>
          </div>
        </a></div>
}
      <div class="container">
        <a asp-area="" asp-page="/Detail/User/Index" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Personal details</h1>
            <p class="description">Change your own details</p>
          </div>
        </a></div>
  
      <div class="container">
        <a asp-area="" asp-page="/Detail/Shedule/MyShedule" class="redirection">
          <div class='banner-img'>
            <h1 class="name">My schedule</h1>
            <p class="description">Change your availability</p>
          </div>
        </a></div>