@page
@model LoginModel
@{
}
<!--Both login and register-->
@section title{
    Login
}
 <form method="post" class="workerForm">
   <table class="formTable">
     <tr>
       <td><label asp-for="fname">First name: </label>
        <span class="form-required" asp-validation-for="fname">*</span>
        </td>
       <td><input type="text" required="required" aria-required="true" asp-for="fname" ></td>      
     </tr>
     <tr>
       <td><label asp-for="lname">last name: </label>
        <span class="form-required" asp-validation-for="lname">*</span></td>
       <td><input type="text" required="required" aria-required="true" asp-for="lname" ></td>
     </tr>
     <tr>
         <td><label asp-for="pass">Password: </label>
        <span class="form-required" asp-validation-for="pass">*</span></td>
       <td><input type="text" required="required" aria-required="true" asp-for="pass" ></td>
     </tr>
     <tr>
       <td> <input type="submit" value="Submit" /></td>
       <td> <button type="button"><a asp-page="./Register"> Register</a></button></td>
     </tr>
   </table>
</form>
