@page
@model RegisterModel
@{
}
<!--register-->
@section title{
    Register
}
 <form method="post" >
   <div>
    <div >
        <label asp-for="Fname">First name</label>
        <span class="form-required" asp-validation-for="Fname">*</span>
        <input type="text" required="required" aria-required="true" asp-for="Fname">
    </div>
    <div>
        <label asp-for="Lname" >Last name</label>
        <span class="form-required" asp-validation-for="Lname">*</span>
        <input type="text" required="required" aria-required="true" asp-for="Lname">
    </div>
    <div>
        <label asp-for="Email">email</label>
        <span class="form-required" asp-validation-for="Email">*</span>
        <input type="email" required="required" aria-required="true" asp-for="Email">
    </div>
    <div>
        <label asp-for="Telephone">Telephone</label>
        <span class="form-required" asp-validation-for="Telephone">*</span>
        <input type="tel" required="required" aria-required="true" asp-for="Telephone">
    </div>
    <div>
        <label asp-for="Street" >Street name</label>
        <span class="form-required" asp-validation-for="Street">*</span>
        <input type="text" required="required" aria-required="true" asp-for="Street">
    </div>
    <div>
        <label asp-for="HouseNum">Housenumber</label>
        <span class="form-required" asp-validation-for="HouseNum">*</span>
        <input type="text" required="required" aria-required="true" asp-for="HouseNum">
    </div>
    <div>
        <label asp-for="Zipcode">Zipcode</label>
        <span class="form-required" asp-validation-for="Zipcode">*</span>
        <input type="text" required="required" aria-required="true" asp-for="Zipcode">
    </div>
    <div>
        <label asp-for="City">City</label>
        <span class="form-required" asp-validation-for="City">*</span>
        <input type="text" required="required" aria-required="true" asp-for="City">
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <span class="form-required" asp-validation-for="Password">*</span>
        <input type="password"  required="required" aria-required="true" asp-for="Password">
    </div>
    
    <div class="">
        <input type="submit" value="Submit" />
    </div>
</div>
@Model.msg
</form>