@page
@model Library.Pages.Detail.Management.ManagementModel
@{
}

@section title{
    Management
}
 <div class="container">
        <a  asp-area="" asp-page="/Detail/Management/Employment/Employment" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Employment</h1>
            <p class="description">Only Management </p>
          </div>
        </a></div>
  
      <div class="container">
        <a  asp-area="" asp-page="/Detail/Management/Workshop/WorkshopInfo" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Workshops</h1>
            <p class="description">-</p>
          </div>
        </a></div>
  
      <div class="container">
        <a asp-area="" asp-page="/Detail/Management/Event/EventInfo" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Events</h1>
            <p class="description">-</p>
          </div>
        </a></div>

        <div class="container">
          <a asp-area="" asp-page="/Detail/Management/Catalogue/Catalogue" class="redirection">
            <div class='banner-img'>
              <h1 class="name">Catalogue</h1>
              <p class="description">-</p>
            </div>
          </a></div>
  
          <div class="container">
            <a asp-area="" asp-page="/Detail/Management/openingHour/OpeningHours" class="redirection">
              <div class='banner-img'>
                <h1 class="name">Opening hours</h1>
                <p class="description">-</p>
              </div>
            </a></div>
     
            
      <div class="container">
        <a  asp-area="" asp-page="/Detail/Management/Account/AccountInfo" class="redirection">
          <div class='banner-img'>
            <h1 class="name">acounts</h1>
            <p class="description">-</p>
          </div>
        </a></div>