<head>
    <link rel="stylesheet" href="../../../Css/style.css">  
    <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/gOajMyG
  -->
  </head>
  
  <body>
    <header>
      <div class="login-btn"><a href="../../../Login.htm" class="redirection">Login</a></div>
    <div class="special-container">
      <img src='https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
      ' alt='main image' class="main-img">
    </div>
  </header>
    <!-- basic navbar -->
  <nav>
    <ul>
      <li><a href="../../../home.htm">Home</a></li>
      <li><a href="../../../About.htm">About us</a></li>
      <li><a href="../../../Catalogue.htm">Catalogue</a></li>
      <li><a href="../../../Agenda.htm">Agenda</a></li>
      <li><a href="../../../Details.htm">My details</a></li>
    </ul>
  </nav>
    <!-- end basic navbar-->
    <div class="infobar-grid">
        <div class="left-infobar">
      
            <div>
       <img class="img-infobar"  alt="x" src="../../../Img/placeholder_mockupType.png">
            </div>
            <div class="text-infobar">
                <p> Rose Thórn</p>
                <p>rose@gmail.com</p>
                <p>ThornBush 10a</p>
                <p>7053SS Garden</p>
                <p>0412223344</p>
            </div>
            <div class="info-actions">
                <p><a href="./">Update your own info</a></p>
               <p> <a href="./">Extend the rent period of a book</a></p>
            </div>
        </div> 
       
        <div class="middle-infobar">
       
       <h3>Username</h3>
       <table class="info-table">
              <tr>
                  <th>Book ISBN</th>
                  <th>Book name</th>
                  <th>Rent date</th>
                  <th>Return date</th>
                  <th>Extendable</th>
              </tr>
              <tr>
                  <td>129384338198</td>
                  <td>Princess Rose and the ugly duckling</td>
                  <td>1-2-2022</td>
                  <td>15-2-2022</td>
                  <td>No</td>
              </tr>
              <tr>
                  <td>129384338198</td>
                  <td>Princess Rose and the ugly duckling</td>
                  <td>1-2-2022</td>
                  <td>15-2-2022</td>
                  <td>No</td>
              </tr>
              <tr>
                  <td>129384338198</td>
                  <td>Princess Rose and the ugly duckling</td>
                  <td>1-2-2022</td>
                  <td>15-2-2022</td>
                  <td>No</td>
              </tr>
       </table>

       <table class="info-table">
        <tr>
            <th>Movie ISBN</th>
            <th>Movie name</th>
            <th>Rent date</th>
            <th>Return date</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>129384338198</td>
            <td>Princess Rose and the ugly duckling</td>
            <td>1-2-2022</td>
            <td>15-2-2022</td>
            <td>2.50</td>
        </tr>
        <tr>
            <td>129384338198</td>
            <td>Princess Marry and the ugly duckling</td>
            <td>1-2-2022</td>
            <td>15-2-2022</td>
            <td>1.75</td>
        </tr>
        <tr>
            <td>129384338198</td>
            <td>Princess Lilly and the golden swan</td>
            <td>1-2-2022</td>
            <td>15-2-2022</td>
            <td>50</td>
        </tr>
 </table>

 <table class="info-table">
    <tr>
        <th>library card</th>
        <th>Date</th>
        <th>Paid</th>
        <th>Cost</th>
    </tr>
    <tr>
        <td>919228</td>
        <td>1-1-2022</td>
        <td>Yes</td>
        <td>6.50</td>
    </tr>
    <tr>
        <td>919228</td>
        <td>1-2-2022</td>
        <td>No</td>
        <td>5.50</td>
    </tr>
</table>

       </div>
       <div class="footer-infobar">
       
       </div>
  </body>