@page
@model Library.Pages.Detail.Management.EmploymentModel
@{
    Layout = "Theme/_ManagementLayout";
}

@section imgSidebar{
<img class="img-infobar"  alt="x" src="../../../Img/placeholder_mockupType.png">
}

 @section textSidebar{
     <!--Temp info from the user logged in-->
                <p> Rose Thórn</p>
                <p>rose@gmail.com</p>
                <p>ThornBush 10a</p>
                <p>7053SS Garden</p>
                <p>0412223344</p>
 }
 
@section actionSideBar{
<p><a  asp-area="" asp-page="./EmployeeUpdate">Update info of employee</a></p>
<p> <a  asp-area="" asp-page="./EmployeeNew">New Employee</a></p>
<p> <a  asp-area="" asp-page="">Shedule Employee</a></p>
}
    
@section middleTitle{
    Employement
}
       
@section middleTable{
    <table class="info-table">
              <tr>
                  <th>Worker ID</th>
                  <th>Worker name</th>
                  <th>Worker Email</th>
                  <th>Worker address</th>
                  <th>Worker Position</th>
                  <th>Worker Level</th>
                  <th>Worker Bank</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>Princess Rose</td>
                  <td>rose@mail.com</td>
                  <td>Rosebush 5 7089SS Bushbase</td>
                  <td>Admin</td>
                  <td>Admin</td>
                  <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
       </table>
}
      
