@page
@model Library.Pages.About.ContactModel
@{
    Layout = "Theme/_catalogLayout";
}

@section headTitle{
    Contact
}
<p>Tel: (982) 650-1856</p>
<p>Mail: EquinoxLibrary@Fmail.com</p>
<p>Place: RandomPlace</p>
<p>Address RandomStreet 9b 5555RR</p>