@page
@model Library.Pages.Catalog.MoviesModel
@{    
Layout = "Theme/_catalogLayout";
}
@section headTitle{
    Movies
}

  <div class="short-grid">
    <h3>Fantasy movies</h3>
    <div class="wrapper-grid-catalogue">
      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

      <div class="container">
        <a asp-area=""asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>


    </div>
  </div>

  <div class="short-grid">
    <h3>Horror movies</h3>
    <div class="wrapper-grid-catalogue">

      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

      <div class="container">
        <a asp-area="" asp-page="./MovieInfo" asp-route-id="movie.id" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movie 1</h1>
            <p class="description">The Movie "Throne and the Rose" a fantasy Movie about the struggle of an empire in
              dire need of roses is now on sale for €15.50 </p>
          </div>
        </a></div>

    </div>
  </div>
