<head>
    <link rel="stylesheet" href="../../../Css/style.css">  
    <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/gOajMyG
  -->
  </head>
  
  <body>
    <header>
      <div class="login-btn"><a href="../../../Login.htm" class="redirection">Login</a></div>
    <div class="special-container">
      <img src='https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
      ' alt='main image' class="main-img">
    </div>
  </header>
    <!-- basic navbar -->
  <nav>
    <ul>
      <li><a href="../../../home.htm">Home</a></li>
      <li><a href="../../../About.htm">About us</a></li>
      <li><a href="../../../Catalogue.htm">Catalogue</a></li>
      <li><a href="../../../Agenda.htm">Agenda</a></li>
      <li><a href="../../../Details.htm">My details</a></li>
    </ul>
  </nav>
    <!-- end basic navbar-->
    <div class="infobar-grid">
        <div class="left-infobar">
      
            <div>
       <img class="img-infobar"  alt="x" src="../../../Img/placeholder_mockupType.png">
            </div>
            <div class="text-infobar">
                <p> Rose Thórn</p>
                <p>rose@gmail.com</p>
                <p>ThornBush 10a</p>
                <p>7053SS Garden</p>
                <p>0412223344</p>
            </div>
            <div class="info-actions">
                <p><a href="./">Update info of employee</a></p>
               <p> <a href="./newWorker.htm">New Employee</a></p>
            </div>
        </div> 
       
        <div class="middle-infobar">
       
       <h3>Username</h3>
       <table class="info-table">
              <tr>
                  <th>Worker ID</th>
                  <th>Worker name</th>
                  <th>Worker Email</th>
                  <th>Worker address</th>
                  <th>Worker Position</th>
                  <th>Worker Level</th>
                  <th>Worker Bank</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>Princess Rose</td>
                  <td>rose@mail.com</td>
                  <td>Rosebush 5 7089SS Bushbase</td>
                  <td>Admin</td>
                  <td>Admin</td>
                  <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Princess Rose</td>
                <td>rose@mail.com</td>
                <td>Rosebush 5 7089SS Bushbase</td>
                <td>Admin</td>
                <td>Admin</td>
                <td>***********</td>
              </tr>
       </table>

       
       </div>
       <div class="footer-infobar">
       
       </div>
  </body>