<head>
    <link rel="stylesheet" href="../../../Css/style.css">  
    <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/gOajMyG
  -->
  </head>
  
  <body>
    <header>
      <div class="login-btn"><a href="../../../Login.htm" class="redirection">Login</a></div>
    <div class="special-container">
      <img src='https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
      ' alt='main image' class="main-img">
    </div>
  </header>
    <!-- basic navbar -->
  <nav>
    <ul>
      <li><a href="../../../home.htm">Home</a></li>
      <li><a href="../../../About.htm">About us</a></li>
      <li><a href="../../../Catalogue.htm">Catalogue</a></li>
      <li><a href="../../../Agenda.htm">Agenda</a></li>
      <li><a href="../../../Details.htm">My details</a></li>
    </ul>
  </nav>
    <!-- end basic navbar-->
    <div class="infobar-grid">
        <div class="middle-infobar">
<h2>New Worker</h2>
 <form action="employees.htm" class="workerForm">
   <table class="formTable">
     <tr>
       <td> <label for="fname">First name: </label></td>
       <td> <input type="text" id="fname" name="" ></td>
       <td> <label for="wposition">Worker Position: </label></td>
       <td> <select name="position" id="wposition">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                </select></td>
     </tr>
     <tr>
       <td> <label for="lname">Last name: </label></td>
       <td> <input type="text" id="lname" name="" ></td>
       <td> <label for="wlevel">Worker level: </label></td>
       <td> <input type="text" id="wlevel" name="" ></td>
     </tr>
     <tr>
       <td><label for="email">email: </label></td>
       <td><input type="email" id="email" name="" ></td>
       <td><label for="bank">Bank account: </label></td>
       <td><input type="text" id="bank" name="" ></td>
     </tr>
     <tr>
       <td>  <label for="telephone">Telephone number: </label></td>
       <td><input type="tel" id="telephone" name="" ></td>
       <td></td>
       <td></td>
     </tr>
     <tr>
       <td><label for="street">Street name and street number : </label></td>
       <td><input type="text" id="street" name="" ></td>
       <td></td>
       <td></td>
     </tr>
     <tr>
       <td><label for="zipcode">Zipcode: </label></td>
       <td> <input type="text" id="zipcode" name="" ></td>
       <td></td>
       <td></td>
     </tr>
     <tr>
       <td><label for="place">residency: </label></td>
       <td><input type="text" id="place" name="" ></td>
       <td></td>
       <td></td>
     </tr>
     <tr>
       <td><label for="pword">Password: </label></td>
       <td> <input type="password" id="pword" name="" ></td>
       <td></td>
       <td></td>
     </tr>
     <tr>
       <td colspan="4"> <button type="submit">Submit</button></td>
     </tr>
   </table>
      

 </form>
  </body>