<head>
    <link rel="stylesheet" href="./Css/style.css">  
    <!-- Code by Angela Delise  
   https://codepen.io/angeladelise/pen/gOajMyG
  -->
  </head>
  
  <body>
    <header>
      <div class="login-btn"><a href="../Login.htm" class="redirection">Login</a></div>
    <div class="special-container">
      <img src='https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
      ' alt='main image' class="main-img">
    </div>
  </header>
    <!-- basic navbar -->
  <nav>
    <ul>
      <li><a href="./home.htm">Home</a></li>
      <li><a href="./About.htm">About us</a></li>
      <li><a href="./Catalogue.htm">Catalogue</a></li>
      <li><a href="./Agenda.htm">Agenda</a></li>
      <li><a href="./Details.htm">My details</a></li>
    </ul>
  </nav>
    <!-- end basic navbar-->
  <h2>Agenda</h2>
    <div class="wrapper-grid">
      <div class="agenda-container">
        <a href="./View/Agenda/Workshop/" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Books</h1>
            <p class="description">See all books that are in this library</p>
          </div>
        </a></div>
  
      <div class="agenda-container">
        <a href="./View/Catalogue/Movies/Movies.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Movies</h1>
            <p class="description">See all Movies that are in this library</p>
          </div>
        </a></div>
  
      <div class="agenda-container">
        <a href="./View/Agenda/Storytime/StoryTime.htm" class="redirection">
          <div class='banner-img'>
            <h1 class="name">Catogy A</h1>
            <p class="description">---</p>
          </div>
        </a></div>
  
  </body>